<nav>
    <header>
        <h1>{{title}}</h1>
    </header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/upcoming">Upcoming Launches</a></li>
    </ul>
</nav>
<div class="container">
{{#each data}}
{{#if @first}}
<section id="premierLaunch">
    <h2>Next launch: {{windowstart}}</h2>
    <div class="rocketDescription">
        <h3>{{rocket.name}}</h3>
        <img src="{{rocket.imageURL}}">
        <article>
            <p>Rocket Description:</p>
            {{missions.[0].description}}
        </article>
    </div>
</section>
<br>
{{else}}
<section class="launchSections">
<p>Launch Date: <em>{{windowstart}}</em></p>
<h3><strong>{{name}}</strong></h3>
<img src="{{rocket.imageURL}}">
<p>Launch is at: <u>{{location.name}}</u></p>
</section>
<br>
{{/if}}
{{/each}}
</div>